{% extends 'DashboardBundle:Admin:index.html.twig' %}

{% block content %}
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Add new  Referentiel </h3>
            </div>

            {{ form_start(form) }}
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title,{'attr':{'class':'form-control','placeholder':'Title'}}) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.code) }}
                        {{ form_widget(form.code,{'attr':{'class':'form-control','placeholder':'Code'}}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.yearAcademic) }}
                        {{ form_widget(form.yearAcademic,{'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.level) }}
                        {{ form_widget(form.level,{'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.filiere) }}
                        {{ form_widget(form.filiere,{'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.save, {'attr':{'class':'btn btn-success'}}) }}
                        <a href="{{ path('list_referentiel') }}" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock content %}